openapi: 3.0.1
info:
  title: harpoon.domains
  description: |
    Harpoon can monitor the internet for domain names that may be trying to spoof your organization or reputation. 

    Simply add a domain name that you want monitored and harpoon will use similarity metrics such as [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance)
    to compare domains found in the Certificate Transparency Logs to your registered domain. 
    If any similarity thresholds are met or exceeded, Harpoon will send you an email with the information.

    Feature Highlights:
    - Support for monitoring similarity for up to 5 domain names per project
    - Set a notification target to receive alerts (email) when a similar domain is found
    - Integrates with the swordphish.io API, to automatically scan suspicious domains in real-time
  contact: {}
  version: 0.1.4
servers:
- url: https://harpoon.domains/v1/
paths:
  /domain/add:
    post:
      tags:
      - Monitored Domains
      summary: Add domain name
      description: |-
        Add a new domain name to monitor. 

        Harpoon will actively monitor the Certificate Transparency Logs for this domain name and notify your
        "Notification Target" if any domains found meet or exceed the values in `notification_thresholds`.

        The values in `notification_thresholds` can be adjusted to increase or decrease the number of notifications
        that are generated for the domain. 
      requestBody:
        description: Add domain name to monitor.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AddOrUpdateDomain'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
      x-codegen-request-body-name: payload
  /domain/list:
    get:
      tags:
      - Monitored Domains
      summary: List monitored domains
      description: List the domain names being monitored under this project.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schemas.Domain'
  /domain/{id}:
    get:
      tags:
      - Monitored Domains
      summary: Get domain name
      description: Get the monitored domain name with the given id.
      parameters:
      - name: id
        in: path
        description: Domain ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Domain'
    put:
      tags:
      - Monitored Domains
      summary: Update domain name
      description: Update a monitored domain name in this project.
      parameters:
      - name: id
        in: path
        description: Domain ID
        required: true
        schema:
          type: string
      requestBody:
        description: Updated domain name.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AddOrUpdateDomain'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - Monitored Domains
      summary: Delete domain name
      description: Delete a monitored domain name from this project.
      parameters:
      - name: id
        in: path
        description: Domain ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
  /notification/{id}:
    get:
      tags:
      - Notifications
      summary: Get notification
      description: Get the notification with the given id.
      parameters:
      - name: id
        in: path
        description: Notification ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Notification'
    put:
      tags:
      - Notifications
      summary: Update notification
      description: |
        Update the notification with the given id. 
        
        Currently, `acknowledged` is the only attribute that can be changed.
      parameters:
      - name: id
        in: path
        description: Notification ID
        required: true
        schema:
          type: string
      requestBody:
        description: Update notification.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.UpdateNotification'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
    delete:
      tags:
      - Notifications
      summary: Delete notification
      description: Delete the notification with the given id.
      parameters:
      - name: id
        in: path
        description: Notification ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
      x-codegen-request-body-name: payload
  /notification/list:
    get:
      tags:
      - Notifications
      summary: List notifications
      description: |
        List all the notifications under this project.

        <div class="theme-admonition theme-admonition-info alert alert--info admonition_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module"><div class="admonitionHeading_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module">ℹ️ INFO</div>
          <div class="admonitionContent_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module">
            <p class="mb-0">
            By default, results from this endpoint are returned in descending order by `timestamp`.
            That is, newer notifications are always returned first.
            </p>
          </div>
        </div>
      parameters:
      - name: acknowledged
        in: query
        description: Filter for retrieving only (un)acknowledged notifications.
        schema:
          type: boolean
      - name: start_from_id
        in: query
        description: Retrieve notifications starting with this ID and onwards.
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Total number of records to be returned.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 100
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schemas.Notification'
  /notification/target/add:
    post:
      tags:
      - Notification-Targets
      summary: Add notification target
      description: |
        Add a notification target to this project.

        This target will receive any notifications generated by Harpoon. In order to prevent spam,
        it's recommended to create the target with `is_active=false` until you're comfortable with 
        the number of notifications being generated for each monitored domain.

        <div class="theme-admonition theme-admonition-info alert alert--info admonition_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module"><div class="admonitionHeading_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module">ℹ️ INFO</div>
          <div class="admonitionContent_node_modules-@docusaurus-theme-classic-lib-theme-Admonition-styles-module">
            <p class="mb-0">
            Users are limited to <u>one</u> notification target at this time.
            </p>
          </div>
        </div>
      requestBody:
        description: Add notification target values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AddOrUpdateNotificationTarget'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
      x-codegen-request-body-name: payload
  /notification/target/list:
    get:
      tags:
      - Notification-Targets
      summary: List notification targets
      description: List all notification targets for this project.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/schemas.NotificationTarget'
  /notification/target/{id}:
    get:
      tags:
      - Notification-Targets
      summary: Get notification target
      description: Get the notification target with the given id.
      parameters:
      - name: id
        in: path
        description: Notification Target ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.NotificationTarget'
    put:
      tags:
      - Notification-Targets
      summary: Update notification target
      description: Update the notification target with the given id.
      parameters:
      - name: id
        in: path
        description: Notification Target ID
        required: true
        schema:
          type: string
      requestBody:
        description: Update notification target.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas.AddOrUpdateNotificationTarget'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - Notification-Targets
      summary: Delete notification target
      description: Delete the notification target with the given id from this project.
      parameters:
      - name: id
        in: path
        description: Notification ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas.Message'
components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    schemas.AddOrUpdateDomain:
      required:
      - domain_name
      # - notification_target_id
      type: object
      properties:
        domain_name:
          maxLength: 64
          minLength: 8
          type: string
          example: example.net
        notification_target_id:
          type: string
          example: 5cd03ef1-afef-4245-b7a8-29d599790483
          description: Optional — the target to notify if there are any thresholds met for this domain name.
        notification_thresholds:
          $ref: '#/components/schemas/schemas.NotificationThreshold'
    schemas.AddOrUpdateNotificationTarget:
      required:
      - is_active
      - target_type
      - target_value
      type: object
      properties:
        is_active:
          type: boolean
          example: false
        target_type:
          type: string
          example: email
        target_value:
          type: string
          example: soc@organization.org
    schemas.Domain:
      required:
      - domain_name
      - notification_target_id
      type: object
      properties:
        client_id:
          type: string
          example: 5cd03ef1-afef-4245-b7a8-29d599790483
        created_on:
          type: string
          example: 2023-04-15T20:37:43Z
        domain_name:
          maxLength: 64
          minLength: 8
          type: string
          example: example.com
        id:
          type: string
          example: 94cb9f33-caaf-4690-9b24-d9e3510bb147
        notification_target_id:
          type: string
          example: e140bcf6-c946-48e3-a335-24564c313b90
        notification_thresholds:
          $ref: '#/components/schemas/schemas.NotificationThreshold'
        owner_sub:
          type: string
          example: 32e7a44e-7c76-4082-b672-7c3859ee26de
        updated_on:
          type: string
          example: 2023-04-15T20:37:43Z
    schemas.Message:
      type: object
      properties:
        message:
          type: string
          example: Some status message about what happened.
        validation:
          type: array
          items:
            $ref: '#/components/schemas/schemas.RequestBodyError'
    schemas.Notification:
      required:
      - acknowledged
      type: object
      properties:
        acknowledged:
          type: boolean
          example: true
        certificate_url:
          type: string
          example: https://certificate.stream/ct/323032332d30342d31322d32323a626b756d687635776437377474687232
        client_id:
          type: string
          example: e0d3a19c-ffe2-4bac-9a99-20b19426efc7
        details:
          type: string
          example: The domain, examples.net, was found!
        expires:
          type: integer
          example: 1351700038292
        id:
          type: string
          example: 94cb9f33-caaf-4690-9b24-d9e3510bb147
        log_operator:
          type: string
          example: Google
        log_raw_entry_url:
          type: string
          example: https://ct.googleapis.com/logs/argon2022/ct/v1/get-entries?start=1&end=1
        log_source:
          type: string
          example: argon2022
        monitored_domain:
          $ref: '#/components/schemas/schemas.Domain'
        notification_target:
          $ref: '#/components/schemas/schemas.NotificationTarget'
        owner_sub:
          type: string
          example: 32e7a44e-7c76-4082-b672-7c3859ee26de
        scores:
          type: string
          example: '{"is_wildcard": false, "hostname_ratcliff": 0.5833333333333334,
            "hostname_levenshtein": 7, "domain_ratcliff": 0.6666666666666666, "domain_levenshtein":
            3, "subdomain_segments": [{"segment_value": "banking", "segment_scores":
            {"segment_ratcliff": 0.5323, "segment_levenshtein": 8}}]}'
        similar_domain_name:
          type: string
          example: examples.net
        timestamp:
          type: integer
          example: 1351700038292
    schemas.NotificationTarget:
      required:
      - is_active
      - target_type
      - target_value
      type: object
      properties:
        client_id:
          type: string
          example: e0d3a19c-ffe2-4bac-9a99-20b19426efc7
        created_on:
          type: string
          example: 2023-04-15T20:37:43Z
        id:
          type: string
          example: 94cb9f33-caaf-4690-9b24-d9e3510bb147
        is_active:
          type: boolean
          example: true
        is_verified:
          type: boolean
          example: true
        owner_sub:
          type: string
          example: 32e7a44e-7c76-4082-b672-7c3859ee26de
        target_type:
          type: string
          example: email
        target_value:
          type: string
          example: soc@organization.org
        updated_on:
          type: string
          example: 2023-04-15T20:37:43Z
    schemas.NotificationThreshold:
      type: object
      properties:
        cosine:
          type: number
          example: 0.9
          maximum: 0.99
          minimum: 0.8
          description: "Cosine similarity scores <b>above</b> this number will generate notifications."
        lcss:
          maximum: 32
          minimum: 7
          type: integer
          example: 7
          description: "Longest common substring lengths <b>above</b> this number will generate notifications."
        levenshtein:
          maximum: 3
          minimum: 1
          type: integer
          example: 3
          description: "Levenshtein distance scores <b>below</b> this number will generate notifications."
        ratcliff:
          type: number
          maximum: 0.99
          minimum: 0.75
          example: 0.85
          description: "Ratcliff Obershelp similarity scores <b>above</b> this number will generate notifications."
    schemas.RequestBodyError:
      type: object
      properties:
        field:
          type: string
          example: domain_name
        info:
          type: string
          example: invalid fully qualified domain name.
    schemas.UpdateNotification:
      required:
      - acknowledged
      type: object
      properties:
        acknowledged:
          type: boolean
          example: true
security:
  - bearerAuth: []